@charset "utf-8";
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 15.01.2013

    placeholder

    fonts

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.placeholder {
    color: #000;
}
/* --------------- /placeholder --------------- */

@font-face {
    font-family: "MyriadProRegular";
    url("../fonts/myriadpro.woff") format("woff"),
    font-style: normal;
    font-weight: normal;
}

/* --------------- site --------------- */
.site {
    min-height: 100%;
    min-width: 1024px;
    font: 14px 'Trebuchet MS', sans-serif;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 338px;
}
.site__wrap{
    width: 1000px;
    margin: 0 auto;
}
.site__header {
    position: relative;
    height: 216px;
    border-bottom: 1px solid #002a7e;
    z-index: 3;
}
.site__header-layout{
    position: relative;
    width: 1000px;
    height: inherit;
    margin: 0 auto;
}
.site__content {
    position: relative;
    z-index: 2;
}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 338px;
    background-color: #c4c4c4;
}
.site__footer-layout {
    width: 1000px;
    height: inherit;
    margin: 0 auto;
}
.site__title{
    font-size: 24px;
    margin-bottom: 10px;
}
/* --------------- /site --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 0;
    left: 0;
}
/* --------------- /logo --------------- */

/* --------------- questions --------------- */
.questions__add{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 500px;
    background: #f3f3f3;
    padding: 13px 19px 20px;
    margin-bottom: 30px;
    margin-right: 20px;
}
.questions__add label {
    display: block;
    font-size: 16px;
    color: #656565;
    margin-bottom: 5px;
}
.questions__add fieldset input {
    background: #fff;
    font-size: 18px;
    padding: 0 10px;
    width: 260px;
    height: 31px;
    border: none;
    margin-bottom: 15px;
}
.questions__add textarea {
     background: #fff;
     font-size: 18px;
     padding: 10px;
     width: 100%;
     height: 140px;
     border: none;
     margin-bottom:20px;
 }
.questions__add .questions__subject input{
    width: 100%;
}
.questions__add button[type=submit] {
    display: block;
    width: 260px;
    background: #0845af;
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 18px;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;

}
.questions__add button[type=submit]:hover {
    background: #1d6df8;
}
.question__frequently-asked{
    display: inline-block;
    vertical-align: top;
    width: 475px;
    margin-bottom: 30px;
}
.question__last{
    margin-top: -10px;
}
.question__user{
    min-height: 90px;
    background-color: #ede9e0;
    padding: 8px 19px 10px 20px;
}
.question__user p strong{
    display: block;
}
.question__last p{
    letter-spacing: 0.18px;
    margin-bottom: 0;
}
.question__admin{
    margin-bottom: 33px;
    min-height: 54px;
}
.question__admin img{
    position: relative;
    left: 19px;
    margin-right: 29px;
}
.question__admin p strong{
    display: block;
}
.questions__add-title{
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 40px;
    padding-left: 20px;
}
.questions__add-title:before{
    position: absolute;
    content: "";
    left: 0;
    width: 16px;
    height: 18px;
    background: url("../img/ask-question.png") no-repeat center;

}
/* --------------- /questions --------------- */

/* --------------- news-list --------------- */
.news{
    position: relative;
}
.news__list{
    padding-bottom: 35px;
}
.new-news time,
.news__list time{
    display: block;
    color: #929292;
    font-size: 14px;
}
.news__content a{
    display: block;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 17px;
    letter-spacing: -0.3px;
    text-decoration: underline;
}
.news__content a:hover{
    text-decoration: none;
}
.news__pic{
    display: inline-block;
    vertical-align: top;
    width:240px;
    height:145px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0 0 2px #dddddd;
    margin-right: 35px;
}
.new-news__pic{
    float: left;
    width:500px;
    height:278px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 2px #dddddd;
    margin-right: 35px;
    margin-bottom: 35px;
}
.new-news time{
    margin-top: -2px;
}
.news__content{
    display: inline-block;
    vertical-align: top;
    width:720px;
    margin-bottom: 12px;
}
.news__content p{
    font-size: 14px;
    color: #5c5c5c;
    line-height: 17px;
}
.news__subscribe,
.news__articles,
.news__all{
    display: inline-block;
    vertical-align: top;
    color: #fff;
    background: #003296;
    padding: 5px 15px;
    transition: opacity .3s ease;
    margin-bottom: 20px;
    margin-left: 1px;
}
.news__subscribe:hover,
.news__articles:hover,
.news__all:hover{
    opacity: .7;
}
.news__articles{
    background: #929292;
}
.news__subscribe{
    position: absolute;
    top: 0;
    right: 0;
    background: #bf0000;
    padding: 5px 9px 5px 45px;
}
.news__subscribe:before{
    position: absolute;
    left: 23px;
    width: 14px;
    height:14px;
    content: "";
    background: url("../img/subscribe.png") no-repeat center;
}
/* --------------- /news-list --------------- */

/* --------------- breadcrumbs --------------- */
.breadcrumbs {
    position: relative;
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 28px;
}
.breadcrumbs a{
    position: relative;
    margin-top: 3px;
    font-size: 14px;
    color: #000;
    text-decoration: underline;
    margin-right: 19px;
    cursor: pointer;
    padding-left: 2px;
}
.breadcrumbs a:after{
    content: '/';
    position: absolute;
    top: 2px;
    right: -16px;
    color: #5c5c5c;
}
.breadcrumbs span{
    color: #5c5c5c;
    padding-left: 2px;
}
.breadcrumbs a:first-child {
    padding-left: 0;
}
.breadcrumbs a:hover{
    text-decoration: none;
}
/* --------------- /breadcrumbs --------------- */

/* --------------- navigation --------------- */
.navigation{
    color:#7d7863;
    margin: 11px 0 39px 0;
    width: 400px;
}
.navigation a{
    display: inline-block;
    vertical-align: middle;
    font-family: "MyriadProRegular", sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    margin-right: 13.5px;
}
.navigation a.active {
     color: #003db5;
     text-decoration: none;
     display: inline-block;
 }
.navigation a:hover{
    color: #003db5;
}
.navigation a:first-child,
.navigation a:last-child,
.navigation__next,
.navigation__prev{
    margin-top: -2px;
}
/* --------------- /navigation --------------- */